.site-content {
    background-image: linear-gradient(rgba(44, 44, 44, 0.5), rgba(44, 44, 44, 0.5)), url('../../db/images/residence.jpg');
    background-attachment: local;
    background-size: cover;
    text-align: center;
}

.title {
    color: black;
    padding-top: 50px;
    text-decoration: underline;
}

.site-title {
    color: white;
    padding-top: 80px;
    margin-top: 30%;
}

.site-title,
.title,
.card-title {
    font-family: 'Georgia';
    font-weight: bold;
    /*text-shadow: 2px 2px rgb(63, 63, 63);*/
}

.pad {
    padding-bottom: 60px;
}

.site-desc {
    color: white;
    font-weight: 100;
    font-style: italic;
    padding-bottom: 40px;
}

.home-btns,
.home-btn {
    background-color: #040B1C;
    color: white;
    border-radius: 50px;
    padding: 5px 30px 5px 30px;
    font-weight: bold;
}

.home-btn {
    margin-bottom: 100px;
}

.service-icons {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.card {
    padding: 0px 10px 0px 10px;
    z-index: 10;
}

.card-contain {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.last-text {
    padding-top: 90px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 70%;
    color: gray;
}

.rectangle {
    background-color: #040B1C;
    height: 5px;
    width: auto;
    
}

.rectangle2 {
    background-color: #c0cff5;
    height: 200px;
    width: 900px;
    z-index: -10;
    margin: auto;
    position: absolute;
}